@import "../../index.scss";

.btn {
    padding: 1.4rem 3.4rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: $color-secondary-light;
}

.btn-peru {
    background-color: $color-primary-peru;
    border: 1px solid $color-primary-peru;
    transition: all .3s;

    &:hover {
        background-color: $color-secondary-peru;
    }
}

.btn-outline {
    background-color: $color-secondary-light;
    color: $color-secondary-dark;
    border: 1px solid $color-secondary-dark;
    transition: all .3s;

    &:hover {
        background-color: $color-secondary-dark;
        color: $color-secondary-light;
    }
}

.btn-shop {
    color: $color-secondary-dark;
    background-color: transparent;
    transition: all .3s;

    i {
        color: $color-primary-peru;
        transition: all .3s;
    }

    &:hover {
        color: $color-primary-peru;
    }

    &:hover i {
        transform: translateX(.5rem);
    }
}