@import "../../index.scss";

.header {
    background-color: $color-secondary-dark-2;
    width: 100%;
    height: 72.9rem;
    transform: translateY(-14%);
    z-index: -1;
    border-radius: 0 0 1rem 1rem;
    background-image: url("../../assets/images/home/desktop/Bitmap.png");
    background-repeat: no-repeat;
    background-position: 88%;

    @media screen and (max-width: 1000px) {
        background-position: center;
        @include flex-xy-center;
        height: auto;
        padding: 12.6rem 0 16.7rem 0;
        transform: translateY(-1rem);
        background-size: cover;
    }

    @media screen and (max-width: 650px) {
        padding: 10.8rem 0 11.2rem 0;
    }

    .product-copy {
        transform: translate(16.5rem, 22.5rem);

        @media screen and (max-width: 1000px) {
            transform: translate(0%, 0%);
        }
    }
}