// Flexbox utility
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-x-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-x-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-xy-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-xy-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-xy-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

@mixin flex-y-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-y-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-yx-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-yx-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-yx-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}