//### Color-Variables ###//

// Primary
$color-primary-peru: #D87D4A;
$color-primary-dark: #101010;
$color-primary-light-1: #F1F1F1;
$color-primary-light-2: #FAFAFA;

// Secondary
$color-secondary-peru: #fbaf85;
$color-secondary-dark: #000000;
$color-secondary-dark-2: #191919;
$color-secondary-light: #FFFFFF;