@import "../../index.scss";

.best-audio {
    height: 58.8rem;
    @include flex-xy-space-between;
    margin-top: 20rem;
    gap: 12.5rem;

    @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        gap: 6.3rem;
        margin-top: 9.6rem;
        height: auto;
    }

    @media screen and (max-width:650px) {
        gap: 4rem;
    }

    &-copy {
        width: 44.5rem;

        &-heading {
            margin-bottom: 3.2rem;
        }

        @media screen and (max-width: 1000px) {
            width: 70%;
            text-align: center;
            @include flex-y-center;
        }

        @media screen and (max-width:750px) {
            width: 100%;
        }
    }

    &-img {
        width: 54rem;
        border-radius: .8rem;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }


        img {
            border-radius: .8rem;
            width: 100%;
            object-fit: cover;
        }
    }
}